extends layout

block content
  h1= title
  p Welcome to Earl: the Enhanced Augemnted Reality Learning Application
  p This is a landing page
  p Go to /test?idtest=2 to get db queries. The 2 corresponds to the id fetch for the item in the database table.
  a(href="/test?idtest=2") /test?idtest=2